<!DOCTYPE html>
<html>
  <head>
    <title>List of all events</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
      body {
        margin: 0;
        padding-bottom: 3rem;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Helvetica, Arial, sans-serif;
      }
    </style>
    <link href="/assets/css/main.css" rel="stylesheet" />
    <link href="/assets/css/events.css" rel="stylesheet" />
    <script src="/assets/js/events.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand">Milestep 2022</a>
          <form class="d-flex">
            <a class="btn btn-outline-success" href="/auth/logout" id="logout">Logout</a>
            <a class="btn btn-outline-success" href="/events/create">Create event</a>
          </form>
        </div>
    </nav>
    <div class="container">
        <div class="row le-hide">
            
        <div class="col-lg-12">
            <div class="m-0 row p-3">
            <div class="col-md-3 col-lg-2 p-0">
                <strong class="pl-lg-2">Title</strong>
            </div>
            <div class="col-sm-12 col-lg-3 p-0 pl-lg-5">
                <strong>Description</strong>
            </div>
            <div class="col-sm-12 col-lg-3 p-0 pl-lg-5">
                <strong>Admin</strong>
            </div>
            <div class="col-sm-12 col-lg-3 p-0 pl-lg-5">
                <strong>Time</strong>
            </div>
            <div class="col-sm-12 col-lg-1 p-0">
                <strong>Action</strong>
            </div>
            </div>
        </div>
        
        
        </div>
        <div class="row" id="event-list">
        
        </div>
    
    
    
        
        </div>
    </div>

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p>Made by <strong><a href="//github.com/kripton1" target="_blank">Kripton1</a></strong></p>
                </div>
            </div>
        </div>
    </footer>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      function timeConverter(UNIX_timestamp){
        var a = new Date(UNIX_timestamp * 1000);
        var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
        var year = a.getFullYear();
        var month = months[a.getMonth()];
        var date = a.getDate();
        var hour = a.getHours() < 10 ? '0'+a.getHours() : a.getHours();
        var min = a.getMinutes() < 10 ? '0'+a.getMinutes() : a.getMinutes();
        var sec = a.getSeconds();
        var time = date + ' ' + month + ' ' + year + ' ' + hour + ':' + min ;
        return time;
      }

      function getCookie(name) {
        let matches = document.cookie.match(new RegExp(
            "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
        ));
        return matches ? decodeURIComponent(matches[1]) : undefined;
      }

      function setCookie(name, value, options = {}) {

        options = {
        path: '/',
        ...options
        };

        if (options.expires instanceof Date) {
        options.expires = options.expires.toUTCString();
        }

        let updatedCookie = encodeURIComponent(name) + "=" + encodeURIComponent(value);

        for (let optionKey in options) {
        updatedCookie += "; " + optionKey;
        let optionValue = options[optionKey];
        if (optionValue !== true) {
            updatedCookie += "=" + optionValue;
        }
        }

        document.cookie = updatedCookie;
      }

      var socket = io();

      socket.emit('events.get.list', getCookie('ev_auth'));

      socket.on('events.list', (events) => {
            if (events.length-1 <= 0) {
                $('#event-list').html('<p class="text-center">Events is empty. Be first and create one!</p>');
            }
            
        for( let i = 0; i < events.length-1; i++){
            const event = events[i];
            let a = document.createElement('a');
            a.className = 'col-sm-4 col-lg-12 mt-2 mb-2';
            let buttons = '';
            if (event.admin.id+'' === events[events.length - 1].id+''){
                buttons = `<button class="btn btn-sm btn-danger d-inline-block" id="delete"><i class="fas fa-trash-alt"></i></i></button>`;
            }
            a.innerHTML = `
<div class="m-0 row row-container bg-white p-3" id="${event.id}">
    <div class="col-md-3 col-lg-2 p-0 pl-lg-2 title">
        ${event.title}
    </div>
    <div class="col-sm-12 col-lg-3  p-0 p-0 pl-lg-5 description">
        ${event.description}
    </div>
    <div class="col-sm-12 col-lg-3 p-0 p-0 pl-lg-5 admin">
        ${event.admin.name} ${event.admin.surname}
    </div>
    <div class="col-sm-12 col-lg-3 p-0 p-0 pl-lg-5 date">
        ${timeConverter(event.date)}
    </div>
    <div class="col-sm-12 col-lg-1 p-0 action">
        <a href="/events/${event.id}" class="btn btn-sm btn-info text-white d-inline-block"><i class="fas fa-eye"></i></i></a>
        ${buttons}
    </div>
</div>`;

            $('#event-list').append(a);
            
        };


        $('#delete').on('click', (e) => {
            e.preventDefault();
            confirm('Are you sure want to delete this event?') ? socket.emit('events.remove', e.currentTarget.parentNode.parentNode.id) : false;
        });
      });

      
      $('#logout').on('click', (e)=>{
          e.preventDefault();
          setCookie('ev_auth', "", {
              'max-age': -1
          });
          window.location.reload();
      });

      socket.on('events.remove.success', () => { window.location.reload(); });
    </script>
</html>