<!DOCTYPE html>
<html>
  <head>
    <title>Create event</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />

    <style>
      body {
        margin: 0;
        padding-bottom: 3rem;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Helvetica, Arial, sans-serif;
      }
    </style>
    <link href="/assets/css/main.css" rel="stylesheet" />
    <link href="/assets/css/auth.css" rel="stylesheet" />
    <link href="/assets/css/events.css" rel="stylesheet" />
    <script src="/assets/js/events.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand">Milestep 2022</a>
          <form class="d-flex">
            <a class="btn btn-outline-success" href="/events/all">List of events</a>
          </form>
        </div>
    </nav>

    <section id="login">
        <div class="container">
          <div class="row">
              <div class="col-xs-12">
                  <div class="form-wrap">
                    <h1>Create event</h1>
                        <form role="form" action="javascript:;" method="post" id="event-form" autocomplete="off">
                            <div class="form-group">
                                <label for="title" class="sr-only">Title</label>
                                <input type="text" name="title" id="title" class="form-control" placeholder="Name of event">
                            </div>
                            <div class="form-group">
                                <label for="description" class="sr-only">Description</label>
                                <textarea class="form-control" id="description" rows="3" placeholder="Description"></textarea>
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                    <input type='text' class="form-control" id='datetimepicker8' placeholder="Choose date and time"/>
                                 </div>
                            </div>
                            <div class="alert alert-danger d-flex align-items-center" id="error-box" role="alert" style="display:none!important">
                            </div>
                            <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Create">
                        </form>
                        <hr>
                  </div>
            </div> <!-- /.col-xs-12 -->
          </div> <!-- /.row -->
        </div> <!-- /.container -->
    </section>

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p>Made by <strong><a href="//github.com/kripton1" target="_blank">Kripton1</a></strong></p>
                </div>
            </div>
        </div>
    </footer>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      function timeConverter(UNIX_timestamp){
        var a = new Date(UNIX_timestamp * 1000);
        var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
        var year = a.getFullYear();
        var month = months[a.getMonth()];
        var date = a.getDate();
        var hour = a.getHours();
        var min = a.getMinutes();
        var sec = a.getSeconds();
        var time = date + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec ;
        return time;
      }

      function getCookie(name) {
        let matches = document.cookie.match(new RegExp(
            "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
        ));
        return matches ? decodeURIComponent(matches[1]) : undefined;
    }

      var socket = io();

      $('#event-form').on('submit', (e) => {
        e.preventDefault();
        
        const title = $('#title').val();
        const description = $('#description').val();
        const datetime = $('#datetimepicker8').val();

        if ( title.trim() === '' ) {
          $('#title').addClass('error-style');
          $('#title').focus();
        }else if ( description.trim() === '' ) {
          $('#description').addClass('error-style');
          $('#description').focus();
        }else if ( datetime.trim() === '' ) {
          $('#datetimepicker8').addClass('error-style');
          $('#datetimepicker8').focus();
        }

        socket.emit('events.create', {title: title, description: description, datetime: Date.parse(datetime) / 1000, token: getCookie('ev_auth')});

      });

      socket.on('events.create.error', (msg) => {
        $('#error-box').show();
        $('#error-box').text(msg);
      });

      socket.on('events.create.success', (user) => {
        window.location.href = '/events/all';
      });
    </script>
</html>