<!DOCTYPE html>
<html>
  <head>
    <title>View event</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
      body {
        margin: 0;
        padding-bottom: 3rem;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Helvetica, Arial, sans-serif;
      }
    </style>
    <link href="/assets/css/main.css" rel="stylesheet" />
    <link href="/assets/css/events.css" rel="stylesheet" />
    <script src="/assets/js/events.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand">Milestep 2022</a>
          <form class="d-flex">
            <a class="btn btn-outline-success" href="/events/all">List of events</a>
            <a class="btn btn-outline-success mx-1" href="javascript:;">Join current event</a>
          </form>
        </div>
    </nav>
    <div class="container my-3">
        <div class="row" id="event">
            <div class="alert alert-danger d-flex align-items-center" id="error-box" role="alert" style="display:none!important">
            </div>
            <h3></h3>
            <div class="description">
            </div>
            <div>
                <span></span>
            </div>
        </div>
    </div>

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p>Made by <strong><a href="//github.com/kripton1" target="_blank">Kripton1</a></strong></p>
                </div>
            </div>
        </div>
    </footer>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      function timeConverter(UNIX_timestamp){
        var a = new Date(UNIX_timestamp * 1000);
        var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
        var year = a.getFullYear();
        var month = months[a.getMonth()];
        var date = a.getDate();
        var hour = a.getHours() < 10 ? '0'+a.getHours() : a.getHours();
        var min = a.getMinutes() < 10 ? '0'+a.getMinutes() : a.getMinutes();
        var sec = a.getSeconds();
        var time = date + ' ' + month + ' ' + year + ' ' + hour + ':' + min ;
        return time;
      }

      function getCookie(name) {
        let matches = document.cookie.match(new RegExp(
            "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
        ));
        return matches ? decodeURIComponent(matches[1]) : undefined;
      }

      var socket = io();

      socket.emit('events.get.id', {id: window.location.pathname.split('/')[window.location.pathname.split('/').length - 1], token: getCookie('ev_auth')});

      socket.on('events.one', (event) => {
            if (!event || !event.id) {
                $('#event').html('<p class="text-center">Event not found</p>');
            }
            
            $('#event > h3').text(event.title);
            $('#event > div.description').text(event.description);
            $('#event > div > span').text(event.admin.name + ' ' + event.admin.surname +  ' • ' + timeConverter(event.date));

            if (event.subscribers && JSON.parse(event.subscribers).includes(event.currentUser.id)){
              $('body > nav > div > form > a.btn.btn-outline-success.mx-1').text('Unsubscribe from event');
              $('body > nav > div > form > a.btn.btn-outline-success.mx-1').removeClass('btn-outline-success').addClass('btn-outline-warning');

              $('body > nav > div > form > a.btn.mx-1.btn-outline-warning').on('click', (e) => {
                e.preventDefault();
                confirm('Are you sure want to unsubscribe from this event?') ? socket.emit('events.exit', {id: window.location.pathname.split('/')[window.location.pathname.split('/').length - 1], token: getCookie('ev_auth')}) : false;
              });
            }else{
              $('body > nav > div > form > a.btn.btn-outline-success.mx-1').on('click', (e) => {
                e.preventDefault();
                socket.emit('events.join', {id: window.location.pathname.split('/')[window.location.pathname.split('/').length - 1], token: getCookie('ev_auth')});
              });
            }
      });

    

    socket.on('events.join.error', (msg) => {
        $('#error-box').show();
        $('#error-box').text(msg);
    });

    socket.on('events.join.success', () => {window.location.reload();});

    socket.on('events.exit.success', () => { window.location.reload(); });
    </script>
</html>