.error-style:focus {
  outline: 1.5px solid #db4545;
  box-shadow: 0 0 5px 2px #ad4848;
}
/*    --------------------------------------------------
        :: Footer
        -------------------------------------------------- */
#footer {
  color: #6d6d6d;
  font-size: 12px;
  text-align: center;
}
#footer p {
  margin-bottom: 0;
}
#footer a {
  color: inherit;
}
